@model FinalYearProjectClassified.Models.Home.IndexViewModel


@{
    ViewBag.Title = "Home";
}


@section Scripts {
    <script>
        $(function () {
            //Submits the form when select list is changed
            $('form select').on('change', function (e) {
                $('form').submit();
            });


            //Creates an effect when mouse enters/leaves the Ad
            $('.panel').mouseenter(function () {
                $(this).css({ 'opacity': '.7' }).css({'border': '.7px solid'});
            }).mouseleave(function () {
                $(this).css({ 'opacity': '1' }).css({ 'border': '' });
            });
        });
    </script>
}

@if (Model.Ads.Count == 0)
{
    <div class="jumbotron">
        <h1>Sorry..</h1>
        <p class="lead">There are no Ads at the moment. Sign-in To create an Ad!</p>
    </div>
}
else
{
    <div class="jumbotron">
        @using (Html.BeginForm())
        {
            <p>
                @Html.TextBoxFor(m => m.Keywords, new { placeholder = " Looking for..." })

                By Postcode

                @Html.TextBoxFor(m => m.PostCode, new { placeholder = " e.g. SE1 2YG " })

                <button type="submit" class="btn btn-primary">Search</button>

                <br />

                Order by

                @Html.EnumDropDownListFor(m => m.SortBy,
                    new { @class = "btn btn-default dropdown-list" })
            </p>
        }
    </div>


    foreach (var ad in Model.Ads)
    {
        <a href="@Url.Action("Details", "Ads", new {id = ad.Id})">
            <div class="col-md-3 adpanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="@Url.Content(ad.ImageFileName)" alt="" width="225" class="img-responsive img-rounded">
                    </div>

                    <div class="panel-body">
                        <p>@ad.Description</p>
                        <p>@ad.CreatedOn.ToLongDateString()</p>
                        <p>@String.Format("{0:C2}", ad.Price)</p>
                    </div>
                </div>
            </div>
        </a>
    }
}