@model FinalYearProjectClassified.Models.Home.IndexViewModel


@{
    ViewBag.Title = "Home";
}


@section Scripts {
    <script>
        $(function () {
            //Filter "OrderBy" - Submits the form when select list is changed
            $('form select').on('change', function (e) {
                $('form').submit();
            });

            //Creates an effect when mouse enters/leaves the Ad
            $('.panel').mouseenter(function () {
                $(this).css({ 'opacity': '.7' }).css({'border': '.7px solid'});
            }).mouseleave(function () {
                $(this).css({ 'opacity': '1' }).css({ 'border': '' });
            });
        });
    </script>
}

@if (Model.Ads.Count == 0)
{
    <div class="jumbotron">
        <h1>Sorry..</h1>
        <p class="lead">There are no Ads at the moment. Sign-in To create an Ad!</p>
    </div>
}
else
{
    <div class="jumbotron">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.EnumDropDownListFor(m => m.Category, new { @class = "form-control btn btn-default dropdown-list" })
                
            @Html.TextBoxFor(m => m.Keywords, new { style="width: 300px", placeholder = " Looking for...", @class = "form-control"})
                
            @Html.TextBoxFor(m => m.PostCode, new { style = "width: 300px",placeholder = " By Postcode e.g. SE1... ", @class = "form-control"})
                
            @Html.EnumDropDownListFor(m => m.SortBy, new { @class = "form-control btn btn-default dropdown-list" })
           
            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>

    foreach (var ad in Model.Ads)
    {
        <a href="@Url.Action("Details", "Ads", new {id = ad.Id})">
            <div class="col-xs-12 col-sm-4 col-md-3 adpanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="imgframehome img-responsive">
                            <img src="@Url.Content(ad.Images.First().FilePath)" alt="" class="img-responsive img-rounded allimages">
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <p>@String.Format("{0:C2}", ad.Price)</p>
                        <p>@ad.CreatedOn.ToLongDateString()</p>
                    </div>
                </div>
            </div>
        </a>
    }
}