@model FinalYearProjectClassified.Models.MyAccount.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>My Ads</h2>

@if (Model.Ads.Count == 0)
{
    <h4>You have no Ads yet. Create your first Ad?</h4>
    <a href="@Url.Action("EditAd")" class="btn btn-primary">Create an Ad</a>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Created on</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ad in Model.Ads)
            {
                <tr>
                    <td>@ad.Id</td>
                    <td>@ad.Name</td>
                    <td>@String.Format("{0:C2}", ad.Price)</td>
                    <td>@ad.CreatedOn.ToLongDateString()</td>
                    <td><img src="@Url.Content(ad.ImageFileName)" alt="" width="75"></td>
                    
                    <td>
                        <a href="@Url.Action("DetailsAd", new { id = ad.Id })" class="btn btn-warning">Details</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("EditAd")" class="btn btn-primary">Create Ad</a>
}

